* { padding: 0; margin: 0;}

body { background: #111; color: #fff;}

.container { width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.container h1 { font-size: 2.5em; color : #fff;}
.container h3 {font-size: 1.5em; margin-top: 10px;}
.weatherInfo { font-size: 1.0em; margin-top: 10px;}